doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= `Shop - ${item.title} | Fashion Design Eco-friendly`
    link(rel="stylesheet", href="/shop_details.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
  body
    include navbar.pug
    
    section.shop-detail
      div.detail-container
        img(src=`../${item.image_url}`, alt=item.title, class="detail-image")
        div.detail-info
          h1= item.title
          p.description= item.description
          p.category Category: #{item.category}
          p.condition Condition: #{item.condition}
          p.price Price: ₹#{item.price}
          
          a(href="/shop") Back to Shop

    footer
      p © 2025 Fashion Design Eco-friendly | All rights reserved
